.container {
  box-shadow: 6px 6px 6px #00000029;
  border-radius: 10px;
  text-align: left;
  background-color: white;
  overflow: auto;
  width: 350px;
  margin-bottom: 1rem;
}

.description {
  margin: 1rem;
}

.info_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info {
  filter: var(--color-black-filter);
}

.info_text {
  font-weight: bold;
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
}

.button {
  margin: 1rem;
}

@media screen and (min-width: 922px) {
  .container {
    width: 520px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 800px;
  }
}
