.image_container {
  position: relative;
  width: 100%;
  height: 220px;
  border: 10;
  display: flex;
}

.carousel {
  border-radius: 10px;
  margin-top: -10px;
  height: 100%;
}

.image {
  border-radius: 10;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous,
.next {
  margin: 1rem;
}

@media screen and (min-width: 922px) {
  .image_container {
    height: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .image_container {
    height: 500px;
  }
}
