.container {
  box-shadow: 6px 6px 6px #00000029;
  border-radius: 10px;
  text-align: left;
  background-color: white;
  overflow: auto;
  width: 350px;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
  margin: 1rem;
}

.description {
  margin: 1rem;
}

.prices {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
}

.button {
  margin: 2rem 1rem 1.5rem;
}
