.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.amenities {
  display: flex;
}

.label {
  padding-left: 20px;
  font-size: 1.25rem;
  color: var(--color-black);
  font-weight: bold;
  margin-bottom: 10px;
}
