@import 'variables.css';
@import 'fm.css';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: var(--font-body);
  padding: 0;
  margin: 0;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 23pt;
}

h6 {
  font-size: 20pt;
}

a {
  text-decoration: none;
}

#hamb {
  display: none;
}

#hamb:checked ~ ul {
  display: flex;
}
