.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  z-index: 10;
}

.container:hover {
  cursor: zoom-out;
}

.image {
  object-fit: contain;
  width: 100%;
}
