.nav_a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  gap: 5px;
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav_a:hover,
.nav_a:active {
  border-bottom: 1px solid var(--color-red);
}
