@import url('https://use.typekit.net/bln3izc.css');

:root {
  --color-white: #faf9f6;
  --color-red: #c20051;
  --color-black: #032d51;

  --font-heading: alkaline-caps, sans-serif;
  --font-body: nunito-sans, sans-serif;
}
